* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 4);
  padding: 12px 0px;
}
.header h1{
  color: rgb(255, 255, 255);
}
.main_note{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 25px;
}
form>input{
  position: relative;
  width: 500px;
  height: 50px;
  font-size: 30px;
  border: none;
  outline: none;
}
form>textarea{
  position: relative;
  width: 500px;
  height: 100px;
  font-size: 20px;
  border: none;
  outline: none;
}
.noteContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  margin-top: 80px;
}
.note{
  margin: 0px 15px;
  border: 1px solid black;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 15px;
}
.note>button{
  margin-left: 200px;
  margin-top: 10px;
  border-radius: 50%;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(122, 120, 120);
}

.note>button:hover{
  color: yellow;
  background-color: rgb(255, 0, 0);
}
.footer{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
}